.scareRangeContainer {
  padding: 1.25rem 1.25rem;
  padding-bottom: 4rem;
  background-color: #202d31;
  border-radius: 15px;
}

.scareRangeLabel {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}
