.scareRangeContainer {
  padding: 1.25rem 1.25rem;

  background-color: #202d31;
  border-radius: 15px;
}

.scareRangeLabel {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1.25rem;
  display: block;
}

.scareRangeControl {
  display: block;
  width: 100%;
}
